.hero-section {
  margin-top: -20px;
  position: relative;
  height: 80vh;
  overflow-x: hidden;
  /* left: 50%; */
}

.background-image {
  position: absolute;
  top: 0;
  
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url("../../images/lionsMane4.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
}

.background-image::before {
  content: ""; /* Necessary for the pseudo-element to be displayed */
  position: absolute; /* Absolute positioning */
  top: 0; 
  left: 0;
  right: 0;
  bottom: 0; /* These four properties ensure the overlay spans the full size of the parent div */
  background-color: rgba(0, 0, 0, 0.1); /* Semi-transparent black, adjust the opacity as necessary */
  z-index: 0; /* Place it above the background image but below the text */
}


.logo-head {
  position: absolute;
  top: 30%; /* Adjust accordingly */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .logo-head img {
  width: 250px;
  height: 250px;
} */

.text-content {
  position: absolute;
  top: 65%; /* Adjust accordingly */
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* ...rest of the styles... */


.logo-head img {
  /* width: 100%;
  max-width: 250px; */
  width: 250px !important;
  height: 250px !important;
  transition: width 0.5s ease, height 0.5s ease, transform 0.3s ease;
  bottom: -20;
}


.hero-content {
  position: relative;
  display: flex;  
  flex-direction: column;  
  align-items: center;
  justify-content: flex-end;  
  padding-bottom: 200px; /* adjust this value to suit your needs */
  text-align: center;
  z-index: 1;
  
}


.text-content h1 {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 48px;
  font-weight: bold;
  color: #ffffff;
  
 
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.text-content p {
  font-family: 'Josefin Sans', sans-serif;
  font-size: 20px;
  color: #ffffff;
  margin-bottom: 40px;
  text-shadow: 4px 4px 6px rgba(0, 0, 0, 0.3);
}

.hero-button {
  padding: 12px 24px;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  background-color: #d48668;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.hero-button:hover {
  background-color: #be764f;
  text-shadow: none;
}


/* Tablet styles */
@media only screen and (max-width: 768px) {
  .hero-section {
    height: 500px;
  }

  .logo-head img {
    width: 150px;
    height: 150px;
  }

  /* .text-content {
    top: 10;
  } */

  .text-content h1 {
    font-size: 36px;
    margin-top: 110px;
  }

  .text-content p {
    font-size: 18px;
    margin-bottom: 20px;
  }
}

/* Mobile styles */
@media only screen and (max-width: 480px) {
  .hero-section {
    height: 400px;
  }

  .logo-head img {
    width: 100px;
    height: 100px;
  }

  .text-content h1 {
    font-size: 28px;
  }

  .text-content p {
    font-size: 16px;
  }
}