.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: #e4dfc9;
  color: #333;
  text-align: center;
  padding: 1rem;
  z-index: 1000;
  transform: translate(0, 0);
  transition: padding 0.5s ease;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-menu {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.footer-menu li {
  display: inline-block;
  margin-right: 1rem;
}

.footer-disclaimer {
  text-align: center;
}

.footer-info {
  text-align: right;
  margin-left: 60px;
}

.footer-content p,
.footer-menu li a,
.footer-disclaimer p,
.footer-info p {
  margin: 0;
  color: #333;
  font-size: 15px;
}

.footer-menu li a {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}

.footer-menu li a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .footer {
    height: 4.5rem;
    padding-bottom: 1rem;
  }

  .footer-menu {
    display: none;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
  }

  .footer-content p,
  .footer-disclaimer p,
  .footer-info p {
    line-height: 1.2;
    margin-bottom: 0.3rem;
  }

  .footer-disclaimer,
  .footer-info {
    flex: 1;
    margin-top: 0.3rem;
    margin-left: 0;
    margin-right: 0;
    width: 80%;
    text-align: center;
  }
}

@media screen and (max-width: 992px) and (orientation: landscape) {
  
  .footer {
    height: 2.5rem;
  }
  
  .footer-info {
    display: none;
  }
}

@media screen and (max-width: 576px) {
  /* Mobile-specific styles */
  .footer {
    height: 0.9rem;
  }

  .footer-info {
    display: none;
  }

  .footer-disclaimer {
    position: fixed;
    display: flex; /* Add flex display */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    flex-direction: column; /* Stack items vertically */
    margin-top: 0.2rem;
    margin-left: 0;
    margin-right: 0;
    width: 100%;
    padding: 0.5rem; /* Add some padding for spacing */
  }

  .footer-menu {
    display: none;
  }

  .footer-disclaimer p {
    font-size: 12px;
  }
}

@media screen and (max-width: 576px) and (orientation: landscape) {
  .footer {
    height: 0.8rem; /* Reduced height for landscape mode */
  }

  .footer-info {
    display: none;
  }

  .footer-content p,
  .footer-disclaimer p {
    font-size: 10px; /* Slightly increased font size for landscape mode */
    line-height: 1; /* Reduced line height */
  }

  .footer-disclaimer,
  .footer-info {
    margin-top: 0rem; /* Reduced margin to move them closer together */
  }
}
