.footer {
  position: fixed; /* Changed from 'fixed' */
  width: 100%;
  bottom: 0;
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  background-color: #e4dfc9;
  transition: padding 0.5s ease;
  height: 2rem; /* Changed from '60px' */
  overflow-x: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%; 
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.footer-menu {
  text-align: left;
  list-style: none;
  margin: 0;
  padding: 0;
  margin-right: 60px;
}

.footer-menu li {
  display: inline-block;
  margin-right: 1rem;
}

.footer-disclaimer {
  text-align: center;
}

.footer-info {
  text-align: right;
  margin-left: 60px;
}

.footer-content p, .footer-menu li a, .footer-disclaimer p, .footer-info p {
  margin: 0;
  color: #333;
  font-size: 15px;
}

.footer-menu li a {
  font-family: "Josefin Sans", sans-serif;
  color: #333;
}

.footer-menu li a:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 992px) {
  .footer {
  height: 4.5rem;
  }
  
  .footer-menu {
    display: none; 
  }

  .footer-content {
    flex-direction: column;
    text-align: center;
  }

  .footer-content p, .footer-disclaimer p, .footer-info p {
    line-height: 1.2;
    margin-bottom: 0.3rem;
  }

  .footer-disclaimer, .footer-info {
    margin-top: 0.3rem;
  }

  .footer-info {
    text-align: center;
  }

  .footer {
    padding-bottom: 1rem;  /* increased bottom padding */
  }
}
