.benefits-section {
  margin-bottom: 12%;
  overflow-x: hidden;
}

.benefit-box {
  display: flex;
  margin-bottom: 2rem;
  align-items: center;
}

.benefit-box.right {
  flex-direction: row-reverse;
}

.icon-container {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text-container {
  flex: 2;
  padding: 1rem;
  background: #f5f5dc;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.read-more {
  display: inline-block;
  margin-top: 1rem;
  color: blue;  /* Make text blue */
  text-decoration: underline; /* Add underline */
  transition: transform 0.3s ease; /* Smooth transition for the growth effect */
}

.read-more:hover {
  text-decoration: underline; /* Keep the underline even on hover */
  transform: scale(1.1); /* Make it grow 10% larger on hover */
}


.benefits-section h2 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-decoration: none;
}




.benefits-section h3 {
  font-size: 2rem;
  margin: 1.5rem 0 1rem 0;
}

.benefits-section p {
  margin-bottom: 1rem;
  font-size: 1.1rem;
}



.icon {
  font-size: 5rem;
}

/* Add a media query for small screens */
@media screen and (max-width: 767px) {
  /* Reduce the font size for icons */
  .icon {
      font-size: 3rem;
  }

  /* Reduce the font size for headers and paragraphs */
  .benefits-section h2 {
      font-size: 2rem;
  }

  .benefits-section h3 {
      font-size: 1.5rem;
  }

  .benefits-section p {
      font-size: 1rem;
  }

  /* Add fade-in animation */
  .benefit-box {
      animation: fadeIn 0.5s ease-in-out;
  }

  /* Keyframes for fade-in */
  @keyframes fadeIn {
      from {
          opacity: 0;
      }
      to {
          opacity: 1;
      }
  }
}