@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");

.about-section {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.about-section h2 {
  font-size: 24px;
  margin-bottom: 30px; /* Increased space below the heading */
  color: black;
}

.portrait-image, .portrait-image-2 {
  width: 200px;
  height: auto;
  border-radius: 50%;
  margin-left: 20px; /* Creates some space between the image and the text */
  margin-bottom: 20px;
  height: 200px;
}

.portrait-image {
  float: right; /* Pushes the image to the side of the text */
}

.portrait-image-2 {
  float: left; /* Pushes the image to the side of the text */
}

.about-section h3 {
  font-size: 20px;
  margin-bottom: 10px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

.about-section p {
  margin-bottom: 20px;
  color: black;
  font-family: "Josefin Sans", sans-serif;
}

/* Media query for small screens */
@media screen and (max-width: 767px) {

  .about-section {
    padding: 10px;
  }

  .about-section h2 {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .portrait-image, .portrait-image-2 {
    width: 150px;
    height: 150px;
    margin-left: 10px;
    margin-bottom: 15px;
  }

  .about-section h3 {
    font-size: 18px;
    margin-bottom: 8px;
  }

  .about-section p {
    font-size: 16px;
    margin-bottom: 15px;
  }

}
