/* HomePage.css */

.home {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  text-align: center;
  background-image: url("../../../images/Background.jpg");
  background-size: cover;
  background-position: center;
}

.header {
  margin-bottom: 20px;
}

/* .header h1 {
  font-size: 32px;
  margin-bottom: 10px;
} */

.reviews {
  margin-bottom: 40px;
}

.review {
  margin-bottom: 20px;
  padding: 10px;
  border: 1px solid #ccc;
}

.rating {
  margin-bottom: 10px;
}

.star {
  color: gold;
}

.footer {
  margin-top: 40px;
}

/* Add more custom CSS styles as needed */
