@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap");
body {
    font-family: "Josefin Sans", sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

a {
    text-decoration: none;
}
a:hover {
    transform: scale(1.1);
}

.button-one {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    color: #ffffff;
    background-color: #d48668;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

  